<!-- hidden elements -->
<div id="connection-form" class="modal hide fade"></div>

<!-- search form -->
<%= render 'shared/search_form' %>

<div class="pull-right">
    <%= link_to(new_connection_path, remote: true, :class => "btn btn-primary") do %>
        <i class="icon-plus icon-white"></i> add
    <% end %>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#search">
        <i class="icon-search icon-white"></i> find
    </button>
</div>

<div id="connection-list" class="data-list">
    <%= render(:partial => 'connections') %>
</div>

<div class="tag-list">
    <%= tag_list 'connection' %>
</div>