<!-- hidden elements -->
<div id="connection-form" class="modal fade"></div>

<%= render partial: 'shared/search_form' %>
<%= render partial: 'shared/control_buttons', locals: { new_record_path: new_connection_path } %>

<div id="connection-list" class="data-list">
  <%= render(partial: 'connections') %>
</div>

<div class="tag-list">
  <%= tag_list 'connection' %>
</div>
