<!-- hidden elements -->
<div id="milestone-form" class="modal fade"></div>

<%= render partial: 'shared/search_form' %>
<%= render partial: 'shared/control_buttons', locals: { new_record_path: new_milestone_path } %>

<div id="milestone-list" class="data-list">
  <%= render partial: 'milestones' %>
</div>

<div class="clear"></div>
