<%= render partial: 'shared/data_list_header', locals: { title: 'milestones', new_record_path: new_milestone_path } %>

<div id="milestone-list" class="data-list">
    <%= render partial: 'milestones' if @milestones.present? %>
</div>

<div class="clear"></div>
