#navbar {
    border:1px solid #677b61;
}

a.nav, a.nav:link, a.nav:visited {
    color:#677b61;
}

a.nav:hover { 
    background:#677b61;
    color:#fff;
}

#content {
    border:1px solid #677b61;
}

.box {
    border:1px solid #677b61;
}

.shadedBox {
    border: 1px solid #677b61;
    background: #ddd;
    padding: 5px;
}

a.thumbnail:hover {
    border: 3px solid #677b61;
}

img.photo {
    border: 3px solid #677b61;
    padding: 5px;
}

input.text {
    border: 1px solid #677b61;
}

select {
    border: 1px solid #677b61;
}

textarea {
    border: 1px solid #677b61;
}
