#navbar {
    border:1px solid #f93;
}

a.nav_off {
    color:#f93;
}

a.nav_off:hover, a.nav_on, a.nav_on:visited, a.nav_on:hover { 
    background:#f93;
    color:#fff;
}

#content {
    border:1px solid #f93;
}

.box {
    border:1px solid #f93;
}

.shadedBox {
    border: 1px solid #f93;
    background: #ddd;
    padding: 5px;
}

a.thumbnail:hover {
    border: 3px solid #f93;
}

img.photo {
    border: 3px solid #f93;
    padding: 5px;
}

input.text {
    border: 1px solid #f93;
}

select {
    border: 1px solid #f93;
}

textarea {
    border: 1px solid #f93;
}
