<%= link_to(path, class: 'tip', data: { remote: true, toggle: 'tooltip' }, title: 'show details') do %>
    <span class="icon-view"></span>
<% end %>
<%= link_to(copy_path, class: 'tip', data: { remote: true, toggle: 'tooltip' }, title: "copy #{label}") do %>
    <span class="icon-copy"></span>
<% end %>
<%= link_to(path, method: :delete, class: 'tip', data: { toggle: 'tooltip', confirm: "really delete #{label}?" }, title: "delete #{label}") do %>
    <span class="icon-delete"></span>
<% end %>
