<!-- add and search buttons -->
<div class="pull-right">
  <%= link_to(new_record_path, remote: true, class: "btn btn-primary") do %>
    <i class="glyphicon glyphicon-plus"></i> add
  <% end %>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#search-container">
    <i class="glyphicon glyphicon-search"></i> find
  </button>
</div>