<!-- add and search buttons -->
<div class="pull-right">
  <%= link_to(new_record_path, remote: true, class: 'btn btn-primary', id: 'new_record_btn') do %>
    <i class="glyphicon glyphicon-plus"></i> add
  <% end %>
  <button type="button" id="find_btn" class="btn btn-info" data-toggle="collapse" data-target="#search_container">
    <i class="glyphicon glyphicon-search"></i> find
  </button>
</div>