<div id="search-container" class="<%= 'collapse' unless (params[:q]) %>">
    <%= form_tag({action: 'index'}, method: 'get', class: 'form-search') do %>
        <div class="input-append">
            <%= text_field_tag(:q, h(params[:q]), id: 'search-query', class: 'input-medium search-query') %>
            <%= submit_tag('search', class: 'btn') %>
        </div>
    <% end %>
</div>