<div class="hero-unit">
    <h1>welcome, to your brainpad!</h1>
    <p>never have to remember anything again. keep track of your life.</p>
    <p>
        <%= link_to('log in', login_path, :class => "btn btn-primary btn-large", :remote => true) %>
        <%= link_to('sign up', signup_path, :class => "btn btn-primary btn-large", :remote => true) %>
    </p>
</div>
<div class="row">
    <div class="span3">
    </div>
</div>
