<%= render partial: 'shared/data_list_header', locals: { title: 'contacts', new_record_path: new_contact_path } %>

<div id="contact-list" class="data-list">
    <%= render partial: 'contacts' %>
</div>

<div class="tag-list">
    <%= tag_list 'contact' %>
</div>
