<!-- hidden elements -->
<div id="contact-show" class="modal hide fade"></div>
<div id="contact-form" class="modal hide fade"></div>

<!-- search form -->
<%= render 'shared/search_form' %>
    
<div class="pull-right">
    <%= link_to(new_contact_path, :remote => true, :class => "btn btn-primary") do %>
        <i class="icon-plus icon-white"></i> add
    <% end %>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#search">
      <i class="icon-search icon-white"></i> find
    </button>
</div>

<div id="contact-list" class="data-list">
    <%= render(:partial => 'contacts') %>
</div>

<div class="tag-list">
    tags:
    <%= tag_list(session[:contact_tags], 'contacts') %>
</div>