<!-- hidden elements -->
<div id="contact_form" class="modal fade"></div>

<%= render partial: 'shared/search_form' %>
<%= render partial: 'shared/control_buttons', locals: { new_record_path: new_contact_path } %>

<div id="contact_list" class="data-list">
    <%= render partial: 'contacts' %>
</div>

<div class="tag-list">
    <%= tag_list 'contact' %>
</div>
