<div class="col-sm-6">
  <div class="label"><%= feed.channel.title %></div>
  <ul>
    <% feed.items.each_with_index do |cur_item, i| %>
      <% if i < 6 %>
        <li>
          <a href="<%= cur_item.link %>" title="<%= clean_feed_description(cur_item.description) %>" target="_blank">
            <%= cur_item.title[0,50] if cur_item.title %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div> <!-- end .span3 -->