<% if @found_links %>
    <%= @found_links.inspect %>
    <label"><%= params[:tag] %></label>
    <% @found_links.each do |cur_link| %>
        <%= link_to(cur_link.name[0,15], cur_link, title: cur_link.description) %>,
    <% end %>
<% else %>
    @found_links NOT found
<% end %>
