<% if @found_links %>
    <span class="label"><%= params[:tag] %></span>
    <% for cur_link in @found_links %>
        <%= link_to(cur_link.name[0,15], cur_link, :title => cur_link.get_description) %>,
    <% end %>
<% end %>
