<div class="box">
	<div class="boxhead">expenses by tag</div>
	<div class="boxcontent">
		<% @expenses_by_tag.each do |e| %>
            <% percentage = ((e[1] / @money_summary[:total]) * 100).to_i.to_s %>
            <%= "#{e[0]} #{number_to_currency(e[1])} [#{percentage}%]" %><br/>
            <% percentage = '1' if percentage.eql?'0' %>
            <%= image_tag('redbar.gif', size: "#{percentage.to_i * 2}x15") %><br/>
        <% end %>
	</div>
</div> <!-- end box -->