<table cellpadding="3" cellspacing="0" border="0" align="center">
    <tr>
        <td><label>date</label></td><td><%= @payment.payment_on %></td></tr>
    <tr>
        <td><label>amount</label></td><td><%= @payment.amount %></td></tr>
    <tr>
        <td><label>description</label></td><td><%= @payment.description %></td></tr>
</table>