<tr class="<%= data_rows_counter.modulo(2).nonzero? ? "dataOn" : "dataOff" %>">
    <td><%= data_rows['entry_on'].strftime("%a %b %d, %y") %></td>
    <td><%= Lookup.find_by_id(data_rows['journal_type']).description %></td>
    <td><%= data_rows["entry"][0,30] + ' ...' %></td>
    <td><%= link_to(image_tag("detail.png", :size => "15x15", :border => 0), journal_path(data_rows), {:target => "detail", :onClick => "openWindow(500,500,'detail');"}) %></td>
    <td><%= link_to(image_tag("edit.png", :size => "15x15", :border => 0), edit_journal_path(data_rows)) %></td>
    <td><%= link_to(image_tag("delete.png", :size => "15x15", :border => 0), 
                    journal_path(data_rows), :method => :delete, :confirm => "really delete entry?") %></td></tr>