<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>entry details</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5 display-label">date</div>
        <div class="col-md-7"><%= @journal.entry_on.strftime("%a %b %d, %y") %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">type</div>
        <div class="col-md-7"><%= @journal.journal_type.description if @journal.journal_type %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">enty</div>
        <div class="col-md-7"><%= @journal.entry %></div>
      </div>
    </div>
  </div>
</div>
