<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>entry details</h3>
</div>
<div class="modal-body">
    <table class="table table-condensed data-display">
        <tbody>
            <tr>
                <td class="display-label">date</td><td><%= @journal.entry_on.strftime("%a %b %d, %y") %></td></tr>
            <tr>
                <td class="display-label">type</td><td><%= @journal.journal_type.description if @journal.journal_type %></td></tr>
            <tr>
                <td class="display-label">entry</td><td><%= @journal.entry %></td></tr>
        <tbody>
    </table>
</div>