<div id="show" style="display:none;"></div>

<div id="journal_form" style="display:none;"><%= render(:partial => 'form') %></div>

<script type="text/javascript">
  jQuery(document).ready(function() {
    buildFormDialog('journal');
    validate('new_journal');         
  });
</script>

<%= link_to(image_tag('add.png', :size => '15x15', :border => 0), '#', :class => 'show_journal_form') %>

<% if (@journals and @journals.size > 0) %>
<table width="100%" cellpadding="2" cellspacing="0" class="searchResult">
    <tr>
        <th>date</th>
        <th>type</th>
        <th>entry</th>
        <th colspan="2">&nbsp;</th></tr>
        
<%= render(:partial => 'data_rows', :collection => @journals) %>
</table>

<%= will_paginate @journals %>
<% end %>