.payment-dashboard {
  margin-bottom: 20px;
  border: 1px solid #f93;
  background-color: #ddd;
  border-radius: 4px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}

.payment-dashboard .item {
  width: 17%;
  padding: 10px;
  float: left;
  color: #666;
}

.payment-dashboard .item .data {
  font-weight: bold;
  font-size: 1.5em;
}



.reports-panel .table td i {
  opacity: 0.4;
}

.reports-panel .table td i:hover {
    opacity: 1.0;
}

.deposit-amount {
  font-weight: bold;
}

.transfer-amount {
  font-style: italic;
}

/*
 ************************************************
 bootstrap fixes
 ************************************************
 */

#future-payment-list .table tr:first-child td {
  border-top: 0;
}

.btn-group > button.active {
  background: pink;
  border: 2px solid yellow;
}
