.workout-dashboard {
  margin-bottom: 20px;
  border: 1px solid #bbb;
  background: #ddd;
  border-radius: 4px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}

.workout-dashboard .item {
  width: 17%;
  padding: 10px;
  float: left;
  color: #666;
}

.workout-dashboard .item .data {
  font-weight: bold;
  font-size: 1.5em;
}
